

body {
width: 1050px;
margin: 25px auto;

    background: radial-gradient(1.5em 6.28571em at 1.95em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(1.5em 6.28571em at -0.45em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 1.5em 5.5em, radial-gradient(2.3em 4.57143em at 2.99em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(2.3em 4.57143em at -0.69em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 2.3em 4em, radial-gradient(3.5em 6.28571em at 4.55em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(3.5em 6.28571em at -1.05em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 3.5em 5.5em, radial-gradient(#15ffa5, #00ced1);
    background-color: mediumspringgreen;
    background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em, 3.5em 11em, 100% 100%;
    background-repeat: repeat;
  
}

header {

font-family: cursive;

}

footer {
    
height: 7%;
background-color: lightgreen;
bottom: 0;
width: 70%;
text-align-last: center;
position: fixed;


}


.menu {


border-bottom:2px solid rgb(5, 5, 5)

}


.menu li {


max-width: 1050px;
padding: 25px;
display: inline-block;
font: bold 16px verdana;
background-color: lightgreen;


}


.menu li a {


color: black;

}

.menu li i {

margin-right: 5px;

}

.section {
    float: left;
    margin: 10px;
    width: 690px;
    
   
}

.columna {
margin: 130px 0;
width: 280px;
float: right;


}



.giratorio {

    width:  350px;
    height: 350px;
    border-radius: 70%;
    transition: all .5s;

}

.giratorio:hover {

    transform: scale(1.2) rotate(360deg);
}



.imagen1 img {

align-items: center;
max-height: 200PX;


}